main {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

header {
  align-items: center;
  background-color: rgb(114, 113, 113);
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
}

header .MuiTypography-h5 {
  margin-left: 60px;
}

header i {
  padding-right: 5px;
}

.rating span {
  margin: 0.1rem;
}

.linkStyle {
  text-decoration: none;
  color: inherit;
}

.productScreen {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.productScreenActions {
  display: flex;
  flex-direction: column;
  height: 300px;
}
